@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #EFF1FD;
}


.box-area{
    width: 930px;
}


.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/* right box things */
.right-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.card-header{
    color: #55A13D !important;
    /* background: #55A13D !important; */
    text-align: center;
}


.card-header > img{
    width: 100%;
}


.input-container input{
    width: 40px;
    height: 40px;
}


.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #3366FF !important;
}


.verify-btn{
    border-radius: 20px !important;
    border: 0px !important;
    width: 140px;
    background-color: #55A13D !important;
}

.btn-creat{
    background-color: #4A9833;
}

.input-group{
    width: 85%;
}


/* button transform */
a.btn{
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

a.btn:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Slightly enlarge */
}
/* button transform */


/* right box things */


/*------------ For small screens------------*/

@media screen and (max-width: 768px){

    .box-area{
        margin: 0 10px;
    }
    .left-box{
        display: none !important; 
    }
    .row{
        width: 400px;
        box-shadow: #4A9833 0px 4px 6px 0px !important;
    }
    .right-box{
        box-shadow: none;
    }
}
